<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email_Authorization </title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>


<center> <h2> Email Registration </h2>
 {%if user %}
     <font color="green">       {{user['username']}} </font> <br><br>
    {% endif %}


<form action="/email_auth" method="post">

Enter OTP : <input type="text" placeholder="ENTER OTP SENT TO " id="OTP" name ='OTP'>
        <input type="submit" class="btn btn-success"><br><br>
    </center>
</body>
</html>